.top-bar {
  background-color: #939393;
}

.menu-text {
  background-color: #939393;
  color: white;
}

.nagivation-text {
  background-color: #939393;
  color: white;
}

.menu {
  background-color: #939393;
}

li {
  background-color: #939393;
}

a {
  color: white;
}

a:focus {
  color: white;
}
