.post-abstract-column {
  padding: 0px, auto;
  margin: 10px auto;
  width: auto;
  height: 250px;
}

.post-abstract-right {
  width: 80%;
  height: 100%;
  padding: 10px;
  float: right;
}

.post-abstract-left img {
  margin-top: 10px;
  width: 20%;
  height: 100%;
  float: left;
}

.button-like {
  width: 50px;
  background: transparent;
  border: 1.5px solid pink;
  border-radius: 50px;
  margin-right: 10px;
  color: pink;
  font-weight: bold;
}

.button-like:hover {
  background: pink;
  color: white;
}

.button-like:focus {
  color: pink;
  background: white;
}

.post-abstract-likes {
  margin-right: 10px;
}

.post-abstract-item {
  margin-bottom: 10px;
}

.post-abstract-title{
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.post-abstract-readall {
  color: #2199e8;
}
