body {
  background-color: #dfdfdf;
}

.content {
  background-color: white;
}

.row {

}

.column {
  padding: 0;
  margin-top: 100px;

}

.button-like {
  outline: none;
}

.button-like:hover {
  color: #f08080;
}

.post-abstract-column {
  margin: 10px auto;
  width: auto;
  height: 250px;
}

.post-abstract-right {
  width: 80%;
  height: 100%;
  padding: 15px 30px 15px 15px;
  float: right;
}

.post-abstract-left img {
  margin-top: 10px;
  padding: 10px 10px 10px 30px;
  width: 20%;
  height: 100%;
  float: left;
}

.post-abstract-likes {
  margin-right: 10px;
}

.post-abstract-item {
  margin-bottom: 10px;
}

.post-abstract-title{
  color: #f08080;
  font-size: 1.2rem;
  font-weight: bold;
}

.post-abstract-readall {
  font-size: 1rem;
  color: #f08080;
}
